.admin-container {
  overflow-y: auto;
}

/* .container {
  overflow-y: auto;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    height: 20%;
    text-align: left;
    padding: 30px 35px 30px 40px;
    background-color: #F8FAE5;
}

h3 {
    margin-bottom: 10px;
    color: #76453B;
}

.land-details {
    margin-top: 5px;
    font-size: 16px;
}

.submit-list {
    display: flex;
    justify-content: center;
    margin: 30px auto 5px;
    align-items: center;
    width: 300px;
    height: 50px;
    color: #fff;
    background: #76453B;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
} */

.admin-container {
    display: flex;
  flex-direction: column;
  width: 530px;
  /* Adjust the width as needed */
  height: 87%;
  margin: 2% 30% 5%;
  /* Center the form */
  background: #F8FAE5;
  padding-bottom: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
}

.underline-add {
    width: 300px;
    height: 6px;
    background: #76453B;
    border-radius: 9px;
  }

.submit-admin {
    display: flex;
    justify-content: center;
    margin: 10px 63px 0 80px;
    align-items: center;
    width: 380px;
    height: 59px;
    color: #fff;
    background: #76453B;
    border-radius: 50px;
    font-size: 23px;
    font-weight: 700;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
  }


