.user-verification-table {
  width: 750px;
  table-layout: fixed;
  border-collapse: collapse;
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  td:nth-child(1), th:nth-child(1) { min-width: 400px; }
  td:nth-child(2), th:nth-child(2) { min-width: 200px; }
  td:nth-child(3), th:nth-child(3) { width: 350px; }

  thead {
    background-color: #76453B;
    color: white;
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 300px;
    tr:nth-child(even) {
      background-color: #dfd4c5;
    }
  }
}

.old_ie_wrapper {
  height: 300px;
  width: 750px;
  overflow-x: hidden;
  overflow-y: auto;
  tbody { height: auto; }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.user-verification-head {
  margin-top:15px;
  margin-bottom: 15px;
  color: #76453B;
  font-size: 25px;
  font-weight:bold;
}

.no-verifications-message{
  font-size: 15px;
  margin-top: 15px;
}

.approve-submit {
  color: #fff;
  background: #76453B;
}