.land-verification{
  overflow: scroll;
  height: 100%;
  width: 70%;
  margin-left: 250px ;
  margin-right: 250px ;
}
.land-verification-table {
    border-collapse: collapse;
    th, td {
        max-width: 400px;
        padding: 8px 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    thead {
    position: sticky;
    inset-block-start: 0;
    background-color: #76453B;
    color: white;
    
    }
    tbody {
        tr:nth-child(even) {
          background-color: #dfd4c5;
        }
      }
}  

  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  .land-verification-head {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 250px;
    color: #76453B;
    font-size: 25px;
    font-weight: bold;
  }
  
  .approve-submit {
    color: #fff;
    background: #76453B;
  }
  